<footer>

<div class="footer_redirection">
        <div class="footer_about">
            <div class="aboutus">
                <ul>
                    <li><h1>About us</h1></li>
                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sapiente architecto dolore quisquam. Voluptas facere sint laborum dolor molestiae excepturi suscipit atque necessitatibus consectetur
                    </li>
                </ul>

                <ul class="d-flex flex-wrap reseau">
                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href=""><i class="fab fa-youtube"></i></a></li>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    
        <div class="footer_help">
            <ul>
                <li><h4>Menu Link</h4></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">About us</a></li>
                <li><a href="#">Our services</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Lastest News</a></li>
                <li><a href="#">Request a quote</a></li>
                <li><a href="#">Get in touch</a></li>
            </ul>
        </div>

        <div class="our-contact">
            <ul>
                <li> <h1>Our contact</h1></li>
                <li>
                    <i class="fa fa-phone"></i>
                    <span>(+33) 401 108 111 / (+33) 010 807 010</span>
                </li>
                <li>
                    <i class="fa fa-envelope"></i>
                    <span>info@youremail.com</span>
                </li>
                <li>
                    <i class="fa fa-map-marker"></i>
                    <span>Cading River, 54/4 Avenue Theatre Rue Sommeiler de la colonne, Paris France</span>
                </li>
            </ul>
        </div>
        
        <div class="footer_resaux">
            <div class="input-form">
            <h4>Inscrivez-vous a la newsLetter</h4>
                    {{form(form,{action:path('newsletter')})}}
            </div>
        </div>
</div>
<div class="copyright">
    <ul>
        <li><a href="">Conditions des offres</a></li>
        <li><a href="">CGV</a></li>
        <li><a href="">Politique en matière de confidentialité et de cookies</a></li>
        <li><a href="">Mentions légales</a></li>
        <li><a href="">© 2021, Inc. Tous droits réservés</a></li>
    </ul>
</div>

</footer>


 
{# 
        <footer class="footer">
            <div class="widgets">
                <div class="container">
                    <div class="row">

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="aboutus">
                                <h1>About us</h1>
                                <ul>
                                    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit sapiente architecto dolore quisquam. Voluptas facere sint laborum dolor molestiae excepturi suscipit atque necessitatibus consectetur officia quos ex quibusdam
                                        eius id provident enim nisi itaque, sunt, natus error ut! Reiciendis nam minima similique, qui eveniet accusamus minus sapiente accusantium vel quibusdam!</li>
                                </ul>

                                <ul class="d-flex flex-wrap align-items-center">
                                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href=""><i class="fab fa-youtube"></i></a></li>
                                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div col="col-12 col-md-6 col-lg-3">

                            <h1>Menu Link</h1>

                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our services</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Lastest News</a></li>
                                <li><a href="#">Request a quote</a></li>
                                <li><a href="#">Get in touch</a></li>
                            </ul>
                        </div>


                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="article-links">
                                <h1>Our latest aricles</h1>
                                <ul>
                                    <li>
                                        <h3><a href="#">Start a Business today</a></h3>
                                        <div class="article-date">March 28, 2020</div>
                                    </li>
                                    <li>
                                        <h3><a href="#">Produtivity in life</a></h3>
                                        <div class="article-date">March 24, 2020</div>
                                    </li>
                                    <li>
                                        <h3><a href="#">Programming Languge</a></h3>
                                        <div class="article-date">March 20, 2020</div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-12 col-md-6 col-lg-3">
                            <div class="our-contact">
                                <h1>Our contact</h1>
                                <ul>
                                    <li>
                                        <i class="fa fa-phone"></i>
                                        <span>(+33) 401 108 111 / (+33) 010 807 010</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-envelope"></i>
                                        <span>info@youremail.com</span>
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker"></i>
                                        <span>Cading River, 54/4 Avenue Theatre Rue Sommeiler de la colonne, Paris France</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="input-form">
                                <form class="d-flex flex-wrap align-items-center">
                                    <input type="email" placeholder="Write your email">
                                    <input type="submit" value="Send">
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 col-lg-12">
                            Desingned with <i class="fa fa-heart-o"></i> by Your name
                        </div>
                    </div>
                </div>
            </div>


        </footer> #}
