{% extends "base.html.twig" %}

{% block title %}Avis{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center">Avis</h2>

        {{form(form)}}
    </div>

{% endblock %}