{% extends "base.html.twig" %}
{% block title %} {% endblock %}

{% block body %}
<div class="container_admin_modifier_form">
        <div class="text-start mt-4" >
            <a href="{{ path('liste_hotel') }}" class="small text-dark text-decoration-none btn btn-info">&#8592; Retour</a>
        </div>
        <div class="text-center" >
        {% if new %}
        <h1>Ajouter un nouveau vol</h1>
        {% else %}
        <h1>modifier un vol</h1>
        {% endif %}
         </div>
        {% include "admin/crud_voyage/hotel/_form_crud_vol.html.twig" %}
        {% if not new %}
        <div class="text-center mt-3">
            <a href="{{path('vol_delete',{id: vol.id}) }}" class="btn btn-danger" onclick="return confirm('Voulez vous supprimer ce vol ?')">supprimer </a>
        </div>
        {% endif %}   
</div>
{% endblock %}