<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>PDF</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body>
    {% include "facture/style.html.twig" %}
    {% include "facture/facture.html.twig" %}
</body>
</html>